MY_PRIVATE_KEY_NAME=my_key
MY_PUBLIC_KEY_NAME=my_public_key
MY_CERTIFICATE_SIGNING_REQUEST_NAME=my_request
CA_PRIVATE_KEY_NAME=ca_private_key
CA_PUBLIC_KEY_NAME=ca_public_key
FINAL_CERTIFICATE_NAME=final_certificate
